<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>{{namapokemon}}</h1>
        <br><br>
        <div class="header">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation">{{id}}
                        </li>
                        <li role="presentation">{{tinggi}}
                        </li>
                        <li role="presentation">{{berat}}
                        </li>
                    </ul>
                </nav>
            </div>
    </center>
</body>
</html>